* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
* li { list-style: none; }

body {
  margin: 0 !important;
  font-family: Helvetica, sans-serif;
  
  
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@font-face {font-family:"Colaborate-Medium";
src:url("../fontes/Colaborate-Medium/ColabMed.eot?") 
format("eot"),url("../fontes/Colaborate-Medium/ColabMed.woff") 
format("woff"),url("../fontes/Colaborate-Medium/ColabMed.ttf") 
format("truetype"),url("../fontes/Colaborate-Medium/ColabMed.svg#Colaborate-Medium") 
format("svg");font-weight:normal;font-style:normal;
}

.headerConteiner {
    width: 100%;
    background: #00415e;

}

.header {
    max-width: 1180px;
    margin: auto;
    padding: 20px 15px 10px 15px;
}

.logo {
  width: 100px;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}

.titulo {
    max-width: 100%;
   margin-bottom: 15px;
   float: left;

}

.caixa_login {
  width: 100%;
      margin-top: 60px;
}

.login {
  width: 100%;
  
}

.login li {
    max-width: 1000px;
    overflow: hidden;
    background-color: #fff;
    margin: 5px 0;
}

input {
  width: 100%;
  padding: 10px 30px;
  background-color: transparent;
  
  font-size: 13px;
  outline: none;
/*  font-family: "Colaborate-Medium";*/



}
    ::-webkit-input-placeholder {
      color: #000;

    }

    :-moz-placeholder {
      color: #000;
    }

    ::-moz-placeholder {
      color: #000;
    }

    :-ms-input-placeholder{
      color: #000;
    }

.cpf {

  
  background-image: url(../img/bg_cpf.png);
  background-repeat: no-repeat;
  background-position: 10px;


}

.senha{


  background-image: url(../img/bg_senha.png);
  background-repeat: no-repeat;
  background-position: 10px;


}

/*.qra {

  background-image: url(../img/seta_input.png);
  background-repeat: no-repeat;
  background-position: 10px;
  overflow: hidden;
}*/

.qra {
    overflow: hidden;
    padding-top: 5px;
  }

/*.qra select {
  width: 104%;
    background-image: url(../img/seta_input.png);
  background-repeat: no-repeat;
  background-position: 10px;
  padding: 0 30px;
    outline: none;
  font-size: 13px;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

}*/

/*select {
  width: 100%;
  height: 35px;
  overflow: hidden;
  border-radius: 0;
   margin-left: 10px;
   padding-left: 25px;
   background-color: transparent;
  outline: none;
  font-size: 13px;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

}*/


.entrar {
 
 background-color: #00bdf3 !important; 
}

.inputEntrar   {
    width: 100%;
   text-transform: uppercase;
   margin-left: 0;
   cursor: pointer;
   padding: 10px 0;
}



.opcoesDeLogin li{
  display: inline-block;
  vertical-align: top;
  

}

.conectado {
  color: #fff;
  font-size: 12px;
  width: 50%;
  margin-top:3px;
}

.manterConectado {
  width: 10px;
  margin-left: 0;
  margin-top: 4px;

}

.recuperarSenhaLi {
  text-align: right;
   width: 43%;
  
}

.recuperarSenha {
  color: #00bdf3;
  font-size: 12px;

 
  
}



/* rodape */
footer {
    width: 100%;

    
}
.faixaAzulEscuro {
  width: 100%;
  background-color: #00415e;
  color: #00bdf3;
}

.faixaAzulEscuro div {
  max-width: 1180px;
  margin: 0 auto;
  padding: 15px 15px;
}

.faixaAzulEscuro h1 {
  text-transform: uppercase;
  font-family: "Colaborate-Medium";
  font-size: 15px;
}

.faixaAzulEscuro li {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 5px 0 5px 35px;
  margin-top: 10px;
 font-family: "Colaborate-Medium";
 font-size: 13px;

}

.email {
    word-wrap: break-word;
     background-image: url(../img/icon_email.png);
  background-repeat: no-repeat;
  background-position: 0;

}

.telefone {
   background-image: url(../img/icon_telefone.png);
 background-repeat: no-repeat;
 background-position: 0;
 margin-bottom: 5px;
}

.telefone a {
   font-family: "Colaborate-Medium";
  font-size: 13px;
  text-decoration: none;
  display: block;
  color: #00bdf3;
}

.faixaAzulEscuro p {
  display: inline;
  color: #fff;
  font-size: 13px;
  font-family: Helvetica, sans-serif;
}

.faixaAzulEscuro div p a {
  color: #00bdf3;
  font-size: 11px;
  text-decoration: underline;
}

.faixaAzulClaro {
  width: 100%;
  background-color: #00bdf3;
}

.faixaAzulClaro div {
  max-width: 1180px;
  margin: 0 auto;
  padding: 15px;

}

.copy {
  font-size: 8px;
  text-transform: uppercase;
  color: #00415e;
  font-weight: 600;
  

}

.politica_de_privacidade {
    font-size: 8px;
  text-transform: uppercase;
  color: #00415e;
  font-weight: 600;


  
}

/* conteiner */

.caixaDeTexto {
  display: none;
}

.slides {
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
  overflow: hidden;
}

.imagem {
  width: 100%;
}
.imagem img {
  width: 100%;
  height: 100%;
}
.slick-dots li {
  background-image: url(../img/ellipse.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}

  .slick-dots li, .slick-dots li button  {
    text-indent: -9999px;
    width: 20px;
    height: 20px;
  }

  .slick-dots
{
    position: absolute;
    bottom: 0;
  }

  /* modal */


  .janela p {
    width: 80% !important;
  }

.slick-dots li.slick-active 
{
    width: 20px;
    height: 20px;
   /* padding: 5px;*/
    /*opacity: .75;*/
     border: 0;
    outline: none;
    background: transparent;
    color: black;
     outline: none;
    background-image: url(../img/ellipse_focus.png);
    background-repeat: no-repeat;
     background-size: cover;
}

/* modal */

.janela {
  display: none;
  max-width: 600px;
  height: auto;
  background-color: #fff;
  border: 1px solid #00baef;
  position:absolute;
  left:0;
  top:0;
  z-index:9900;
  margin: 0 20px;
  border-radius: 5px;

}

  #mascara{
      width: 100%;
      height: 100%;
      display: none;
      position:fixed;
      left:0;
      top:0;
      z-index:9000;
      background-image: url(../img/bg_modal2.png);
  }

.headerModal {
  width: 100%;
  background-color: #00baef;
  text-align: left;
  padding:  15px 8px 15px 0;

}

.tituloModal {
  width: 50%;
  font-size: 18px;
  text-transform: uppercase;
  color: #00415e;
  display: inline-block;
  margin-left: 10%;
  font-weight: 600;
  font-family: Helvetica;

}

.fechar {
  float: right;
  

}

.fechar img {
  margin-top: -5px;
}

.janela p {
    margin: 25px 10%;
    color: #696969;
}

.formModal {
  padding-bottom: 25px;
}

.formModal input{
  float: left;
}

.inputModal {
  width: 60%;
  margin-left: 10%;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 12px;

}
.login ul {
  overflow: hidden;
  margin-bottom: 5px;
}

.enviar {
  width: 15%;
  height: 35px;
  background-color: #00415e;
  color: transparent;
  border-radius: 5px;
  box-shadow: 0 1px 1px #00baef;
  margin-left: 10px;
  padding: 10px;

}

.erro {
  border: 2px solid red;
}

.msg_erro{
  color: red;
  font-size: 11px;
  margin-left: 5px;
  margin-top: 2px;
  display: none;
  text-transform: uppercase;
}

/* plugin select */

  .select2-container--default .select2-selection--single {
      background-color: transparent; 
    border: none; 
     border-radius: none;
     outline: none;
    
  
}

.select2-container--default .select2-selection--single .select2-selection__arrow  {
  display: none;
  
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  outline: none;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 0;
      background-image: url(../img/seta_input.png);
  background-repeat: no-repeat;
  background-position: 10px;
  


 } 

.select2 {
  width: 100% !important;
  outline: none !important;
}
.select2-container {
  width: 100% !important;
   outline: none !important;
}

.select2-container--default {
  width: 100% !important;
  outline: none !important;
   
}
.select2-container--below {
  width: 100% !important;
  outline: none !important;
}

.select2-container--focus" {
  width: 100% !important;
  outline: none !important;
}











/* desktop */

@media only screen and (min-width: 979px) {
  .header {

    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 15px;
    overflow: hidden;
  }

  .conteiner {
    
  }

  .titulo {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .logo {
    width: 160px;
    height: 55px;
    margin-bottom: 0;
  }
  .caixa_login {
    width: auto;
    float: right;
    margin: 0 !important;
  }

  .login {
    display: table;
   /* padding-left: 20px;*/
  }

  .login li {
    max-width: 160px;
    float: left;
    margin: 0 5px;
    display: inline-block;

  }

  .qra {
    max-width:  170px!important;
    font-size: 100%;
    height: 35px;
  }

  .entrar {
    width: 87px !important;
    border-radius: 8px;
    
   

  }

  .inputEntrar {
      
     font-size: 13px !important;
  }

  .opcoesDeLogin {
    padding-left: 5px;
    margin-top: 5px;
  }

  .opcoesDeLogin li {
    max-width: 155px;
    font-size: 12px;
  }

  .recuperarSenhaLi {
    text-align: left;
    margin-top: 3px;
  }

  .recuperarSenha {
    font-size: 12px;

  }

  .slick-dots li, .slick-dots li button  {
    text-indent: -9999px;
    width: 26px;
    height: 26px;
  }

  .slick-dots li.slick-active 
{
    width: 25px;
    height: 25px;

}

  /* footer */
  footer {
    
  }

  .faixaAzulEscuro div {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 5px;
  }

  .faixaAzulEscuro h1 {
    margin-left: 5px;
  }

  .faixaAzulEscuro li{
    max-width: 380px;
    margin-top: 5px;
    float: left;
  }

  .faixaAzulEscuro p {
    max-width: 380px;
    margin-top: 5px;
    float: right;
    padding: 5px 0;
  }

  .faixaAzulClaro div {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 5px; 
    padding-bottom: 8px;

  }
  .faixaAzulClaro p {
    display: inline-block;
  }

  .faixaAzulClaro a {
    float: right;
    margin-top: 5px;

  }
  /*caixa de texto */

  .caixaDeTexto {
    width: 15%;
    display: table;
    height: 200px;
    padding: 35px; 
    position: absolute;
    margin-left: 0;
    top: 45px;
    border-radius: 10px;
    color: #fff;
   /* background-image: url(../img/bg_caixaDeTexto.png);*/
    background-repeat: no-repeat; 
    overflow: hidden;
    /*background-size: contain;*/
    

  }

  .caixaDeTexto h1 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .caixaDeTexto p {
    max-width: 400px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;


  }

  .caixaDeTexto img {
    width: 488px;
    height: 180px;
  }

  .enviar {
    color: #fff;
  }

  .select2-container--default .select2-selection--single {
      background-color: transparent; 
    border: none; 
     border-radius: none;
    
  
}

.select2-selection {
  outline: none;
   width: 
}

 .select2-selection--single {
  outline: none;
   
 }

.select2-container--default .select2-selection--single .select2-selection__arrow  {
  display: none;
  
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  outline: none;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 0;
      background-image: url(../img/seta_input.png);
  background-repeat: no-repeat;
  background-position: 10px;
  


 } 

 .select2 {
  width: 160px !important;
  outline: none !important;
}
.select2-container {
  width: 160px !important;
   outline: none !important;
}

.select2-container--default {
  width: 160px !important;
  outline: none !important;
   
}
.select2-container--below {
  width: 160px !important;
  outline: none !important;
}

.select2-container--focus" {
  width: 160px !important;
  outline: none !important;
}



}

.clear {
  padding: 0 !important;
  clear: both;
}

@media only screen and (min-width: 1500px) {
    .caixaDeTexto {
    width: 15%;
    display: table;
    height: 200px;
    padding: 35px; 
    position: absolute;
    margin-left: 1%;
    top: 45px;
    border-radius: 10px;
    color: #fff;
    /*background-image: url(../img/bg_caixaDeTexto.png);*/
    background-repeat: no-repeat; 
    overflow: hidden;
    /*background-size: contain;*/
   

  }

  .enviar {
    color: #fff;
  }

  .select2-container--default .select2-selection--single {
      background-color: transparent; 
    border: none; 
     border-radius: none;
    
  
}

.select2-selection {
  outline: none;
   }

 .select2-selection--single {
  outline: none;
   
 }

.select2-container--default .select2-selection--single .select2-selection__arrow  {
  display: none;
  
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  outline: none;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 0;
      background-image: url(../img/seta_input.png);
  background-repeat: no-repeat;
  background-position: 10px;
  


 } 

  .select2 {
  width: 160px !important;
  outline: none !important;
}
.select2-container {
  width: 160px !important;
   outline: none !important;
}

.select2-container--default {
  width: 160px !important;
  outline: none !important;
   
}
.select2-container--below {
  width: 160px !important;
  outline: none !important;
}

.select2-container--focus" {
  width: 160px !important;
  outline: none !important;
}
  
}
